body {
    margin: 0;
}

.search-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 25vw;
    height: 15vh;
    font-size: 15vh;
    text-align: center;
}

.search-button {
    margin: 2vh 0 0 0;
    padding: 1vh 1.5vh 1vh 1.5vh;
    border: 1px solid black;
}

.search-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(39, 39, 39);
    cursor: pointer;
}